<nav class="navbar" [class.scrolled]="isScrolled" [class.hidden]="!isNavbarVisible" @slideDown>
  <div class="navbar-container">
    <div class="navbar-logo">
      <div class="logo-wrapper">
        <img src="/assets/images/logoSolmit2.png" alt="SOLMIT" class="logo-image" />
      </div>
    </div>

    <button 
      class="menu-toggle" 
      [class.active]="isMenuOpen"
      (click)="toggleMenu()"
      [attr.aria-expanded]="isMenuOpen"
      aria-label="Toggle menu"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul class="navbar-menu" [class.active]="isMenuOpen">
      <li class="navbar-item" @fadeInUp [style.animation-delay.ms]="0">
        <a routerLink="/" class="navbar-link" routerLinkActive="active" (click)="closeMenu()">
          <span>INICIO</span>
        </a>
      </li>
      <li class="navbar-item" @fadeInUp [style.animation-delay.ms]="50">
        <a routerLink="/quienes-somos" class="navbar-link" routerLinkActive="active" (click)="closeMenu()">
          <span>¿QUIÉNES SOMOS?</span>
        </a>
      </li>
      <li class="navbar-item" @fadeInUp [style.animation-delay.ms]="100">
        <a routerLink="/servicios" class="navbar-link" routerLinkActive="active" (click)="closeMenu()">
          <span>SERVICIOS</span>
        </a>
      </li>
      <li class="navbar-item" @fadeInUp [style.animation-delay.ms]="150">
        <a routerLink="/casos-exito" class="navbar-link" routerLinkActive="active" (click)="closeMenu()">
          <span>CASOS DE ÉXITO</span>
        </a>
      </li>
      <li class="navbar-item" @fadeInUp [style.animation-delay.ms]="200">
        <a routerLink="/trabaja-con-nosotros" class="navbar-link" routerLinkActive="active" (click)="closeMenu()">
          <span>TRABAJA CON NOSOTROS</span>
        </a>
      </li>
    </ul>

    <a routerLink="/contacto" class="navbar-cta-button" routerLinkActive="active" (click)="closeMenu()">
      CONTACTO
    </a>
  </div>
</nav>

